header {
  background: #000 url('../images/bg.jpg') no-repeat center top / cover;
  height: 100vh;
  color: #fff;

  h3 {
    padding-top: 260px;
  }
}


article.history {
  text-align: center;
  margin-top: 50px;

  p {
    text-align: left;
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
  }

  img {
    width: 60%;
    margin: 20px 0;
  }

}

article.victory {
  margin-top: 50px;


  p {
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
  }
}
